---
- name: Configure /etc/hosts for cluster nodes
  hosts: k8s_cluster
  become: true
  tasks:
    - name: Disable cloud-init management of /etc/hosts
      lineinfile:
        path: /etc/cloud/cloud.cfg
        regexp: '^manage_etc_hosts:'
        line: 'manage_etc_hosts: false'
        state: present
      when: ansible_facts.os_family == "Debian"

    - name: Configure static DNS servers via netplan
      copy:
        dest: /etc/netplan/99-custom-dns.yaml
        content: |
          network:
            version: 2
            ethernets:
              eth0:
                dhcp4: yes
                nameservers:
                  addresses: [8.8.8.8, 8.8.4.4, 1.1.1.1]
                dhcp4-overrides:
                  use-dns: false
        owner: root
        group: root
        mode: '0644'
      notify: Apply netplan

    - name: Create /etc/hosts file
      copy:
        dest: /etc/hosts
        content: |
          127.0.0.1 localhost
          ::1 localhost ip6-localhost ip6-loopback
          ff02::1 ip6-allnodes
          ff02::2 ip6-allrouters
          
          # Proxmox host (NFS server)
          {{ nfs_server_ip }} {{ nfs_server_hostname }}
          
          # Kubernetes cluster nodes
          {% for host in groups['k8s_cluster'] %}
          {{ hostvars[host].ansible_host }} {{ host }}
          {% endfor %}
        owner: root
        group: root
        mode: '0644'

  handlers:
    - name: Apply netplan
      command: netplan apply